*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    /* makes its child item to be aligned horizontally */
    display: flex;
    /* makes spacing with each horizontal items to be spaced */
    justify-content: space-around;
    /* align vertically the horizontal items */
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', serif;
    background-color: rgb(37, 37, 37);
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    /* makes its child item to be aligned horizontally */
    display: flex;
    width: 30%;
    /* makes spacing with each horizontal items to be spaced */
    justify-content: space-around;
}

.nav-links li{
    /* remove li's bullet form style */
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
}

.burger{
    /* display none so it wont be displayed on the page */
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    /* Adds animation on hamburger toggle */
    transition: all 0.3s ease;
}

/* Setting breakpoint when the screen width reaches 1024px it will make the nav width to 60% */
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

/* Setting breakpoint when the screen width reaches 768px it will turn the nav into mobile view*/
@media screen and (max-width:768px){
    body{
        /* will disable overflowing horizontally */
        overflow-x: hidden;
    }
    .nav-links{
        /* position the mobile nav */
        position: absolute;
        /* position values right left top bottom */
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(37, 37, 37);
        /* makes its child item to be aligned vertically with flex direction column */
        display: flex;
        flex-direction: column;
        /*  aligns the items in the center horizontally*/
        align-items: center;
        /* set width of the mobile navbar */
        width: 50%;
        /* moves mobile navbar 100% horizontally to the right, if negative values it will go to the left*/
        transform: translateX(100%);
        /* add animation transition when activated */
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        /* makes li items to be invisible: preparation for animation */
        opacity: 0;
    }
    .burger{
        /* enables the burger icon to be displayed once again */
        display: block;
        /* turns cursor to pointer upon hovering */
        cursor: pointer;
    }
}
.nav-active{
    /* set with javascript: upon toggling this class to the nav, it will go back to original position (before it was on translateX(100%)) */
    transform: translateX(0%);
}

/* Specifies the animation code: sets the opacity of the li's to 1 from 0, and makes a mini transition of 50px */
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Transforms the hamburger icon to an exit button */
.hamburger-toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-toggle .line2{
    opacity: 0;
}

.hamburger-toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


/*Checkout Portion*/
body{
    background-color: #C8B8B2;
}

h4{
    color: white;
    font-family: Verdana;
}

input, label {
display:block;
}

label{
    color: white;
}

.page-header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("mixedbread-backgroung-or-header.jpg");
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.header-text{
    position: absolute;
    top: 1%;
    left: 50%;
    text-align: center;
    font-family: verdana;
    color: white;
}

.container-main{
    display:  flex;
    flex-wrap: wrap;
    border: 15px;
}

.flex-box{
    flex-direction: column;
    border: 10px;
    padding: 10px;
    
}

.sub-container{
    float: left;
    margin-right: 5px;
}

.flex-box-content{
    border: 10px;
    padding: 10px;
    min-width: fit-content;
    background-color: #D4CECD;
    height: 230px;
}

.textBox-type-1{

    border: 20px;
    width: 160px;
    height: 20px;
}

.radio-button{
    display: inline;
}

.textBox-type-2{
    border: 20px;
    width: 330px;
    height: 20px;
}