/* STARTING CSS */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* STARTING CSS END -------------------------- */

/* Place import fonts here */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

/* ----------------------------------- */

/* NAV CSS */

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 9vh;
  font-family: "Alata", sans-serif;
  background-color: #c8b8b2;
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 40px;
  background-color: #f1f1f1;
  min-width: 180px;
  z-index: 1;
}

.dropdown-user-control {
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 60px;
  right: 8px;
  background-color: #f1f1f1;
  min-width: 180px;
  z-index: 1;
}

.dropdown-items {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  border: 0;
  text-align: left;
  font-size: 18px;
}

.nav-home {
  padding: 10px;
}

.nav-home-link {
  display: flex;
}

.nav-user:hover .dropdown-user-control {
  display: block;
}

.dropdown-user-control:hover {
  display: block;
}

.nav-home:hover .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: URL();
  cursor: pointer;
}

.search-bar {
  display: flex;
  flex-direction: row;
}

.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #d4cecd;
  outline: none;
}

.search-field-responsive {
  background-color: #e2e2e2;
  outline: none;
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 5px;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.logo li {
  list-style: none;
  display: flex;
}

.logo a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 3px;
}

.logo img {
  width: 30%;
}

.search {
  display: flex;
  width: 30%;
  justify-content: flex-start;
}

.search li {
  list-style: none;
  padding: 0px 20px;
}

.search a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 3px;
}

.user-nav-links {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

.user-nav-links li {
  list-style: none;
  margin: 0px 20px;
}

.user-nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 3px;
}

.user-nav-links img {
  width: 35px;
}

.nav-links {
  display: none;
  width: 30%;
}

.nav-links li {
  list-style: none;
  margin: 30px 0 0 0;
}

.nav-links a {
  color: #fbfdfe;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 3px;
}

.burger {
  display: none;
  margin: 0px 30px 0px 10px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 906px) {
  .logo {
    width: 36%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .search {
    display: none;
  }

  .user-nav-links {
    width: 20%;
  }

  .user-nav-links li {
    margin: 0px 10px;
  }

  .logo li {
    display: none;
  }

  .logo {
    width: 50%;
  }

  .logo img {
    width: 50%;
  }

  .nav-links {
    position: absolute;
    left: 0px;
    height: 92vh;
    top: 9vh;
    background-color: #d4cecd;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.hamburger-toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-toggle .line2 {
  opacity: 0;
}

.hamburger-toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* NAV CSS END ----------------------------------------------- */
