html{
	height: 100%;
}

html,body{
	overflow-x: hidden;
}

body{
		background-color: #C8B8B2;
		height: 100%;
	}

	h4,p,table{
		color: white;
		font-family: 'Alata', sans-serif;
	}

	input, label {
	display:block;
	}

	label{
		color: white;
		font-family: 'Alata', sans-serif;
	}
	
	/*implementing lovelo*/
	@font-face {
	font-family: "Lovelo";
	src: url(../Assets/fonts/Lovelo-Black.ttf);
	}

	input, label {
	display:block;
	}

	/*table design*/

	tr:last-of-type{
		border-bottom: solid;
		border-width: 2px;
		border-color: white;
	}

	.summary-table{
		background-color: #C8B8B2;
		border: 15px;
		width: 100%;
		border-collapse: collapse;

	}

	.submit-field{
		display: inline;
		text-align: right;
		padding: 5px;
	}


	/*header*/
	.page-header{
		background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../Assets/img/backgrounds/mixedbread-backgroung-or-header.jpg");
		width: 100%;
		height: 90px;
		overflow: hidden;
	}

	.header-text{
		position: static;
		margin-top: 20px;
		font-size: 30px;
		font-weight: bold;
		margin-left: 46%;
		font-family: 'Lovelo', sans-serif;
		color: white;
	}

	/*main body*/

	.checkout-border{
		border: solid;
		border-width: 30px;
		color: white;
		width: 100%;
	}

	.container-main{
		display:  flex;
		flex-wrap: wrap;
		border: 15px;
		justify-content: center;
		height: 100%;
	}

	.flex-box-1{
		display: flex;
		flex-direction: column;
		padding: 10px;
		width: fit-content;
		margin: 10px;
		
	}
	.flex-box-2{
		display: flex;
		flex-direction: column;
		padding: 10px;
		margin: 10px;
		width: fit-content;
		
	}
	.flex-box-3{
		display: flex;
		flex-direction: column;
		min-width: fit-content;
		width: 40%;
		padding: 10px;
		margin: 10px;
		
	}

	.sub-container{
		float: left;
		margin-right: 5px;
		min-width: fit-content;
	}

	.flex-box-content{
		padding: 10px;
		min-width: fit-content;
		background-color: #D4CECD;
		width: fit-content;
		height: 260px;
		color: white;
		font-family: 'Alata', sans-serif;
		line-height: 1;
	}

	.flex-box-content-table{
		padding: 10px;
		min-width: 100%;
		background-color: transparent;
		height: 250px;
		color: white;
		font-family: 'Alata', sans-serif;
	}
	
	/*inputs*/
	.textBox-type-1{
		border: 20px;
		width: 160px;
		height: 20px;
		border: solid;
		border-color: #C8B8B2;
		border-width: 2px;
	}

	.radio-button{
		display: inline;
	}

	.button{
		height: 30px;
		margin: 3px;
		border: 1px;
		padding: 5px;
		background-color: #120B0A;
		display: inline	;
		font-family:  'Alata', sans-serif;
		color: 	white;
	}

	
	.textBox-type-2{
		border: 20px;
		width: 330px;
		height: 20px;
		border: solid;
		border-color: #C8B8B2;
		border-width: 2px;
	}

	/*Footer*/
	.footer{
		position: static; 
		width: 100%; 
		text-align:right;
		margin-top: 150px;
	}

	.fa-phone-alt{
		color: white;
		font-size: 30px;
	}

	.fa-viber{
		color: white;
		font-size: 30px;
	}

	.fa-facebook{
		color: white;
		font-size: 30px;
	}

	th{
		 border-bottom: 2px solid white;
	}

	.tc-1{
		width: 70%;
		text-align: left;
	}	
	
	.bottom-line{
		width: 260px;
		height: 1px;
		background-color: white;
		color: white;
		border-style: solid;
		border-width: 1px;
		display: inline-block;
		bottom: 1px;
	}
	

	/*media adjustments*/
	@media all and (max-width: 500px) {
		.textBox-type-1{
		border: 20px;
		width: 119px;
		height: 20px;
		border: solid;
		border-color: #C8B8B2;
		border-width: 2px;
		}

		.textBox-type-2{
		border: 20px;
		width: 248px;
		height: 20px;
		border: solid;
		border-color: #C8B8B2;
		border-width: 2px;
		}

		.summary-table{
		background-color: #C8B8B2;
		border: 15px;
		width: 250px;

		}

		.header-text{
			position: static;
			margin-top: 20px;
			font-size: 30px;
			font-weight: bold;
			margin-left: 27%;
			font-family: 'Lovelo', sans-serif;
			color: white;
		}

		.checkout-border{
			border: solid;
			border-width: 30px;
			color: white;
			height: auto;
		}

		.footer{
			position: relative;
			right: 0px; 
			width: 1000px; 
			text-align:right;
			bottom: 0px;
		}

	}

	@media all and (max-width: 350px) {

	.textBox-type-1{
		border: 20px;
		width: 100px;
		height: 20px;
		border: solid;
		border-color: #C8B8B2;
		border-width: 2px;
	}

	.textBox-type-2{
		border: 20px;
		width: 219px;
		height: 20px;
		border: solid;
		border-color: #C8B8B2;
		border-width: 2px;
	}

	.summary-table{
		background-color: #C8B8B2;
		border: 15px;
		width: 250px;

	}

	.header-text{
		top: 15%;
		font-size: 30px;
		font-weight: bold;
		left: 15%;
		font-family: 'Lovelo', sans-serif;
		color: white;
	}

	.checkout-border{
		border: solid;
		border-width: 30px;
		color: white;
		height: auto;
		width: 100%;
	}

	.footer{
		position: relative;
		right: 0px; 
		width: 1000px; 
		text-align:right;
		bottom: 0px;
	}

	}


	@media all and (max-width: 280px) {
	.textBox-type-1{
		border: 20px;
		width: 75px;
		height: 20px;
		border: solid;
		border-color: #C8B8B2;
		border-width: 2px;
	}

	.textBox-type-2{
		border: 20px;
		width: 193px;
		height: 20px;
		border: solid;
		border-color: #C8B8B2;
		border-width: 2px;
	}

	.summary-table{
		background-color: #C8B8B2;
		border: 15px;
		width: 200px;

	}

	.header-text{
		top: 15%;
		font-size: 30px;
		font-weight: bold;
		left: 5%;
		font-family: 'Lovelo', sans-serif;
		color: white;
	}
	
	.checkout-border{
		border: solid;
		border-width: 30px;
		color: white;
		height: auto;
	}

	.footer{
		position: relative;
		right: 0px; 
		width: 150px; 
		text-align:right;
		bottom: 0px;
		font-size: 8px;
	}

	.bottom-line{
		width: 150px;
	}
		
	}